@import "../neat/neat-helpers";

// Neat Overrides
$column: 90px;
$gutter: 30px;
$grid-columns: 12;
$max-width: em(1088);

// Neat Breakpoints
$small-screen: em(480);
$medium-screen: em(640);
$large-screen: em(860);

$small-screen-down: new-breakpoint(max-width $small-screen 2);

$medium-screen-up: new-breakpoint(min-width $medium-screen 4);
$large-screen-up: new-breakpoint(min-width $large-screen 8);
