
/* Simple layout styling for Stiff Drink theme */

#page {
  @include outer-container;
  padding: em(25) em(15);
}

// Sidebar layout
.one-sidebar {

  #content {
    @include span-columns(7);
    float: left;
    
    @include media($small-screen-down) {
      @include span-columns(2);
      float: none;
    }
    
  }
  
  #sidebar-first {
    @include span-columns(4);
    float: right;
    
    @include media($small-screen-down) {
      @include span-columns(2);
      float: none;
    }
    
  }

  #footer {
    clear: both;
  }
  
}

