table {
  border-collapse: separate;
  border-spacing: 0;

  thead {
    th {
      background-color: $table-header-color;
      padding: $table-padding;
      border-bottom: 0px;
    }
  }

  tbody {
    background-color: $table-background;
    
    tr:hover > td, tr:hover > th {
      background-color: $table-hover-color;
    }
    
    tr:first-child td {
      border-top: 2px solid $table-border-color;
    }
    
    tr.odd,
    tr.even {
      background-color: $table-background;
    }

    td {
      padding: $table-padding;
      border-top: 1px solid $table-border-color;
      border-bottom: 0px;

      button {
        padding: .5em 1em .6em;
        font-size: .7em;
        margin-right: 0.5em;
        display: inline-block;
        width: 100%;
        margin-bottom: .3em;
        outline: none;

        @include media($medium-screen) {
          width: auto;
          font-size: .8em;
          margin-bottom: 0;
        }

        @include media($large-screen) {
          font-size: .8em;
        }
        
      }
      
    }
    
  }
  
}
