.breadcrumb { 
  display: inline-block;
  text-align: left;
  margin: $base-spacing 0;

  a {
    display: inline-block;
    background-color: $breadcrumb-background;
    border: $breadcrumb-border;
    color: $breadcrumb-color;
    line-height: $breadcrumb-height;
    margin-right: -18px;
    font-size: .8em;
    padding: 0 $breadcrumb-height/4 0 $breadcrumb-height/2;
    position: relative;
    text-decoration: none;
    margin-bottom: 2px;

    &:first-child {
      padding-left: $breadcrumb-height/2;
      border-top-left-radius: $base-border-radius;
      border-bottom-left-radius: $base-border-radius;
    }

    &:last-child {
      background-color: $breadcrumb-background;
      color: $breadcrumb-color-active;
      border-bottom-right-radius: $base-border-radius;
      border-top-right-radius: $base-border-radius;
      padding-right: $breadcrumb-height/2;
    }

    &:hover {
      color: $breadcrumb-color-hover;
      background-color: $breadcrumb-inactive-hover-color;
    }

    &:hover:after {
      border-left-color: $breadcrumb-inactive-hover-color;
    }

    &:after,
    &:before {
      @include position(absolute, 0px auto 0px 100%);
      border-bottom: $breadcrumb-height/2 solid transparent;
      border-left: $breadcrumb-height/4 solid transparent;
      border-top: $breadcrumb-height/2 solid transparent;
      content: '';
      display: block;
      margin: auto;
      z-index: 2;
    }

    &:last-child:after,
    &:last-child:before {
       border: none;
    }

    &:before {
      border-left-color: $breadcrumb-arrow-color;
      margin-left: 1px;
      z-index: 1;
    }
    
    &:after {
      border-left-color: $breadcrumb-background;
    }

    @include media($medium-screen) {
      font-size: 1em;
      padding: 0 $breadcrumb-height/2 0 $breadcrumb-height/1.5;
    }
    
  }
  
}
