.item-list ul.pager {
  text-align: center;

  li {
    display: none;
    margin: 0;
    padding: 0;
    
    &.pager-previous,
    &.pager-next {
      display: inline;
    }

    @include media($large-screen) {
      display: inline;
    }
    
  }

  li a {
    @include transition (all 0.2s ease-in-out);
    background: $pagination-background;
    border-radius: $base-border-radius;
    border: $pagination-border;
    color: $pagination-color;
    padding: $base-spacing/4 $gutter/2;

    &:hover,
    &:focus {
      background: $pagination-hover-background;
      color: $base-link-color;
    }

    &:active {
      background: $pagination-background;
    }
    
  }
  
  li.pager-current {
    border-radius: $base-border-radius;
    border: $pagination-border;
    background: $pagination-hover-background;
    color: $base-link-color;
    padding: $base-spacing/4 $gutter/2;
  }

}
