#tabs {
  @include clearfix;
  margin-bottom: $base-spacing;

  li {
    @include media($tab-mode) {
      display: inline;
    }
  }

  a {
    background-color: $tab-inactive-color;
    border-top: $tab-border;
    border-left: 0;
    border-right: 0;
    color: $dark-gray;
    display: block;
    font-weight: 400;
    padding: $base-spacing/2 $gutter;

    @include media($tab-mode) {
      display: inline-block;
      border-top: 0;
    }

    &:hover {
      color: $base-link-color;
    }

    &:focus {
      outline: none;
    }

    &.active {
      border-bottom: 0;

      @include media($tab-mode) {
        border: $tab-border;
        border-bottom-color: $tab-active-background;
        margin-bottom: -1px;
      }
      
    }
    
  }
  
}
